extends ./layout.pug
include ./mixins.pug
block title
  title Edit
block body
  div.titleDiv
    h1 A and B Galleries
    div#featuredPictureEdit
      img.editPic(src=data.link)
    form.editForm(action=`/gallery/${photoId}` method='POST')
      p author
      p #{edit}
      input.editAuthor(name="author" placeholder= data.author)
      p link
      input.editLink(name="link" placeholder=data.link)
      p description
      input.editDescription(name="description" placeholder= data.description)
      br
      input(type="hidden" name="_method" value="PUT")
      button(type="submit") Submit Edit
    button.button
      a(href="/gallery") Home
    button.button
      a(href="/logout") Logout
    form(method="POST" action=`/gallery/${id}` enctype="application/x-www-form-urlencoded")
      input(type="hidden" name="_method" value="DELETE")
      button(type="submit") Delete


