mixin userGalleryList(users)
  div
  each User in users
    div.userBorder
      div.userPictureBorder
        img.user(src=User.link)
      div.picTag= User.author
      div.picTag= User.description
    br
mixin editGalleryList(photos)
  div
  each photo in photos
    div.userBorder
      div.userPictureBorder
       a.editUserPic(href=`/gallery/${photo.id}/edit`)
        img.user(src=photo.link)
      div.picTag= photo.author
      div.picTag= photo.description
    br