mixin userGalleryList(photos)
  each photo in photos
    div.userBorder
      div.outerUserpictureBorder
        div.userPictureBorder
          img.user(src=photo.link)
        div.authorTagDiv
          div.authorPicTag= photo.author
          div.spacer
          div.profilePic
            a.myPhotoDirect(href="/gallery/myPhotos")
              img.usersFace(src=photo.User.profilePicture)
        div.picTag= photo.description
      br
mixin editGalleryList(photos)
  div
  each photo in photos
    div.userBorder
      div.userPictureBorder
       a.editUserPic(href=`/gallery/${photo.id}/edit`)
        img.user(src=photo.link)
      div.picTag= photo.author
      div.picTag= photo.description
    br
