mixin userGalleryList(users)
  div
  each User in users
    div.userBorder
      img.user(src=User.link)
      div.user= User.author
      div.user= User.description
    br
mixin editGalleryList(photos)
  div
  each photo in photos
    div.userBorder
      a.editUserPic(href=`/gallery/${photo.id}/edit`)
        img.user(src=photo.link)
      div.user= photo.author
      div.user= photo.description
    br